.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

#list {
  list-style: none;
  text-align: center;
  margin: auto;
}

#emoji {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
}
